{% extends "base.html" %}

{% block content %}
  <style>
img {
    opacity: 1.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.background {
  background: url(https://image.freepik.com/free-photo/doctor-s-stethoscope-with-blue-background_23-2147652363.jpg) no-repeat;
    background-size: 100%;
    opacity: 0.2;
}
</style>
  <div class="menu-data"></div>
	<div class="page-header col-sm-12">

			<div class="menu-container" style="height: 75px">
				<div  style="height: 20px">
                	<a href="{% url 'index' %}">
					<img class="logo margin_lefft" src="https://i.imgur.com/LDJABGZ.png" height="80px">
					</a>
                </div>
                <div style="float:right">
				<span class="phone" style="font-size: 14px; float: left; margin: 12px 10 50px 10; color: #999;font-weight: bold;">Need Help? Call: <font color="#e76362">+91-99-99999999</font></span><br/>
			    </div>
                </div>

    </div>

</div>
	<form action="mailto:student.all@itbhu.ac.in" method="GET" enctype="text/plain">
		<strong>NAME</strong><small>(required)<br></small>
		<input type="text" name="blood group" value="{{ name }}"><br><br>
		<strong>YOUR EMAIL</strong><small>(required)<br></small>
		<input type="email" name="mailid" style="width:300px;" required value="{{ user.email }}"><br><br>
		<strong>SUBJECT</strong><br>
		<input type="text" name="subject" style="width:500px;" value="Urgent : Blood needed"><br><br>
		<strong>MESSAGE</strong><small>(optional)<br></small>
		<TEXTAREA name="body" rows="10" cols="80">People we need (enter blood group needed) its urgent please contact (your phone number)!</TEXTAREA><br><br>
		<input type="submit" value="Send" class="btn btn-primary">
	</form>
{% endblock %}